@font-face {
  font-family: 'Abel';
  src: local('Abel'), url('./fonts/abel/Abel-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'telex';
  src: local('telex'), url('./fonts/Telex/Telex-Regular.ttf') format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
