.error {
  color: #da1212;
}

.background {
  background-color: #cedebd;
  color: black;
}

.formulaire__form {
  border: 1px solid #444941;
  border-radius: 6px / 8px;
  padding: 2%;
  margin-bottom: 6%;
  background-color: #fff;
}
